::-webkit-input-placeholder {
  color: #4f4f4f;
}

::-moz-placeholder {
  color: #4f4f4f;
}

:-ms-input-placeholder {
  color: #4f4f4f;
}

:-moz-placeholder {
  color: #4f4f4f;
}

.form-control {
  border-color: #bdbdbd;
  color: #4f4f4f;
}

.form-control-lg {
  font-size: 14px;
  height: calc(2.143em + 1rem + 2px);
  padding: 0.9rem 1rem;
}

.form-check {
  padding-left: 1.75rem;
}

.form-check-input {
  margin-top: 0.2rem;
  margin-left: -1.75rem;
  width: 17px;
  height: 17px;
}
